body{
	font-family: monospace;
}

.active-tab{
		border-left: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.gallery-container{
	margin: 0px auto;
	width: 100%;
}

.header-title{
	text-align: center;
	color: #666;

	h4{
		    text-shadow: 2px 2px 2px #333;
	}
}

.margin-10{
	margin: 10px;
}

.portfolio-nav {
	width:750px;
	margin:0 auto;
	list-style:none;
	
}

.portfolio-nav li{
	float:left;
	height:30px;
	cursor: pointer;
	padding-top: 5px;
}

.portfolio-nav a{
	cursor: pointer;
	display:block;
	text-align:center;
	width:150px; /* fixed width */
	text-decoration:none; 
}

.image-thumbnail{
	height: 300px;
	width: 100%;
	cursor: pointer;
	
}

.clickable{
	cursor: pointer;
}

.clickable:hover{
	opacity: 0.6;
}

.sub-title{
	font-style: italic;
}

.with-top-margin{
	margin-top: 10px;
}

.zero-margin{
	margin: 0;
	padding: 0;
}
.modal-backdrop{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	
	opacity: 0.7;
	background: black;

}

.modal-container{
	left:15%;
	width:70%;	
	top:10%;
	position:absolute;	  
	z-index: 100000;	
    background: black;
    border: 3px solid black;
    border-radius: 5px;

}

.flex-container{
	width: 100%;
	display: flex;
}

.modal-image-box{
	display: block;
    width:86%;	 
    height: auto;
}

.modal-image{
	max-width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-image-caption{
	color: white;
	font-size: 15px;
	text-align: center;
	padding-top: 5px;
}

.arrow-column{	   
    width: 7%;      
}

.arrow{
	position: relative;
    top: 50%;
}


.right-arrow{
	
    height: 40px;
    width: 40px;
    position: absolute;
    top: 200px;
    margin-right: 3px;
    cursor: pointer;
}

.close-button-container{
	height: 40px;
}

.close-button{
	position: relative;
	left: 95%;
    top: -10%;
	font-size: 40px;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.5;
    cursor: pointer;
}

.portfolio-icon{
	font-size: 32px;
	cursor: pointer;    
    color: #bbb;
    padding: 12px; 
}

.icon-twitter:hover:after {
    content: "Twitter";
    display: block;
    position: relative;
    top: -15px;
    right: -40px;
    width: 20px;
    color: #333;
    font-size: 12px;
}

.icon-facebook:hover:after {
    content: "Facebook";
    display: block;
    position: relative;
    top: -15px;
    right: -40px;
    width: 20px;
    color: #333;
    font-size: 12px;
}

.icon-linkedin:hover:after {
    content: "LinkedIn";
    display: block;
    position: relative;
    top: -15px;
    right: -40px;
    width: 20px;
    color: #333;
    font-size: 12px;
}

.icon-flickr2:hover:after {
    content: "Flickr";
    display: block;
    position: relative;
    top: -15px;
    right: -40px;
    width: 20px;
    color: #333;
    font-size: 12px;
}

.icon-500px:hover:after {
    content: "500px";
    display: block;
    position: relative;
    top: -15px;
    right: -40px;
    width: 20px;
    color: #333;
    font-size: 12px;
}

.icon-youtube:hover:after {
    content: "Youtube";
    display: block;
    position: relative;
    top: -15px;
    right: -40px;
    width: 20px;
    color: #333;
    font-size: 12px;
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
	cursor: default;
}

/*override*/
.modal .modal-dialog .modal-content{
	width: 100% !important;	
	padding: 340px !important;
    background: transparent;
}


/* CONTACTS PAGE  */
.social-container{
	display: block;
    text-align: center;
    width: 100%;
}

.large-margin-bottom{
	margin-bottom: 50px;
}

.social-icon{
	font-size: 36px;
	margin-right: 50px;
	margin-top: 30px;	
	color: #666;

}

.social-icon a {
	    color: #666;
	    text-decoration: none;
}

.social-icon a:hover 
{
     color:#666	; 
     text-decoration:none; 
     cursor:pointer;  
}	

.flex-container-centered{
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}
.flex-container-centered a {
	    color: #666;
	    text-decoration: none;
}

.flex-container-centered a:hover 
{
     color:#666	; 
     text-decoration:none; 
     cursor:pointer;  
}	

.block-container-centered{
	display: block;
	text-align: center;
	width: 100%;
	margin-top: 30px;
}

.contact-icon{
	font-size: 24px;
	margin-right: 20px;
	color: #666;
}



