.active-tab{
		border-left: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.gallery-container{
	margin: 0px auto;
	width: 100%;
}

.header-title{
	text-align: center;
}

.margin-10{
	margin: 10px;
}

.portfolio-nav {
	width:750px;
	margin:0 auto;
	list-style:none;
	
}

.portfolio-nav li{
	float:left;
	height:30px;
	cursor: pointer;
	padding-top: 5px;
}

.portfolio-nav a{
	cursor: pointer;
	display:block;
	text-align:center;
	width:150px; /* fixed width */
	text-decoration:none; 
}

.image-thumbnail{
	height: 300px;
	width: 100%;
	cursor: pointer;
	
}
.clickable:hover{
	opacity: 0.8;
}

.sub-title{
	font-style: italic;
}

.with-top-margin{
	margin-top: 10px;
}

.zero-margin{
	margin: 0;
	padding: 0;
}



