<portfolio-navigation-bar
  page="contacts">
</portfolio-navigation-bar>

<div class="flex-container-centered large-margin-bottom">
		
		<div class="social-icon clickable">
			<a href="https://se.linkedin.com/in/ruibaiao" target="_blank">
				<div class="icon-linkedin">							
				</div>
			</a>
		</div>

		<div class="social-icon clickable">
			<a href="https://www.facebook.com/KeepExpandingTravel" target="_blank">
				<div class="icon-facebook">				
				</div>
			</a>
		</div>

		<div class="social-icon clickable">
			<a href="https://twitter.com/RMPBaiao" target="_blank">
				<div class="icon-twitter">								
				</div>
			</a>
		</div>

		<div class="social-icon">
			<a href="https://www.youtube.com/c/KeepExpanding" target="_blank">
				<div class="icon-youtube clickable">				
				</div>
			</a>
		</div>

		<div class="social-icon clickable">
			<a href="https://500px.com/ruipalmabaiao" target="_blank">
				<div class="icon-500px">						
				</div>
			</a>
		</div>		

		<div class="social-icon clickable">
			<a href="https://www.flickr.com/photos/rmpbaiao" target="_blank">
				<div class="icon-flickr2">						
				</div>
			</a>
		</div>

</div>

<div class="block-container-centered">
	
	
		<div class="flex-container-centered">
			<a href="http://shutterstock.com/g/RPBaiao">		
				<p class="clickable">Shutterstock Portfolio</p>
			</a>
		</div>
	


	<div class="flex-container-centered">
		<div class="contact-icon icon-phone"></div>
		<p>{{phoneNumber}}</p>
	</div>

	<div class="flex-container-centered">
		<div class="contact-icon icon-mail3"></div>
		<p>{{email}}</p>
	</div>

</div>

